<!DOCTYPE html>
<html>
  <head>
    <title><%= App.Config.appName %></title>
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <meta charset='utf-8'>

    <% _(vendoredStylesheets).each(function(path) { %>
      <link href='<%= path %>' rel='stylesheet' type='text/css'>
    <% }) %>

    <% _(stylesheets).each(function(path) { %>
      <link href='<%= path %>' rel='stylesheet' type='text/css'>
    <% }) %>

    <script src='javascripts/app_web_config.js'></script>
    <script src='javascripts/templates.js'></script>

    <% _(libs).each(function(path) { %>
      <script src='<%= path %>'></script>
    <% }) %>

    <% _(src).each(function(path) { %>
      <script src='<%= path %>'></script>
    <% }) %>

    <script type='text/javascript'>
      $(function() {
        if (App.Config.nativeClient) {
          if (window.device) {
            App.init();
          } else {
            document.addEventListener('deviceready', App.init, false);
          }
        } else {
          App.init();
        }
      });
    </script>
  </head>
  <body>
    <div data-role='page'>
      <div id='header' data-role='header' data-theme='b' data-position='fixed'>
        <h1 id='title'><%= App.Config.appName %></h1>
      </div>
      <div id='content-region' data-role='content'></div>
    </div>
  </body>
</html>
